PORT=3000
JWT_SECRET=ganti_dengan_random_string_panjang_minimal_32_karakter
PANEL_DOMAIN=panel.domainmu.com
SERVER_IP=192.168.100.27
BASE_DOMAIN=domainmu.com
NGINX_SITES_PATH=/etc/nginx/sites-available
NGINX_ENABLED_PATH=/etc/nginx/sites-enabled
APPS_DIR=/home/apps
DB_PATH=./data/panel.db
ADMIN_EMAIL=admin@domainmu.com
